<app-header title="Transferencias"></app-header>
<ion-content [ngClass]="reading ? 'showCam' : ''" *ngIf="!reading">
  <ion-card *ngIf="!showQr">
    <ion-card-header>Datos de la Transferencia</ion-card-header>
    <ion-card-content>
      <form [formGroup]="transferForm" #FormLogin="ngForm">
        <ion-grid>
          <ion-row>
            <ion-list>
              <ion-item>
                <ion-label>Cuenta de Origen</ion-label>
                <ion-select placeholder="Seleccionar cuenta:" formControlName="idAccountFrom">
                  <ion-select-option *ngFor="let item of accounts" [value]="item">
                    {{item.typeAccount.code +': ' +item.number}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="qrSrv.currentAction=='read'" >
                <ion-label position="stacked">Número de cuenta Destino:</ion-label>
                <ion-input formControlName="numberAccountTo"></ion-input>
              </ion-item>
              <ion-item
                *ngIf="!transferForm.controls.numberAccountTo.valid && transferForm.controls.numberAccountTo.dirty">
                <ion-text color="danger" class="error-message">
                  <h4>Este campo es requerido</h4>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-label>Especifica Monto</ion-label>
                <ion-checkbox formControlName="especifiedAmount"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Moneda</ion-label>
                <ion-select [disabled]="!transferForm.controls.especifiedAmount.value == true" placeholder="Seleccionar moneda:" formControlName="currency">
                  <ion-select-option *ngFor="let i of currencyList" [value]="i.code"
                    [selected]="i.code == transferForm.controls.currency.value">{{i.name}}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="ion-margin-top">
                <ion-label position="stacked">Monto:</ion-label>
                <ion-input [disabled]="!transferForm.controls.especifiedAmount.value == true" formControlName="amount" type="number" inputmode="decimal" placeholder="$0.00"></ion-input>
              </ion-item>
              <ion-item class="error-message"
                *ngIf="!transferForm.controls.amount.valid && transferForm.controls.amount.dirty">
                <ion-text color="danger" class="error-message">
                  <p>Monto no válido.</p>
                </ion-text>
              </ion-item>
            </ion-list>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="ion-float-center" color="primary" (click)="generateQR()"
                [disabled]="validGenerate() == false" *ngIf="qrSrv.currentAction=='generate'">Generar QR</ion-button>
              <ion-button class="ion-float-right ion-margin-top" size="small" type="submit"
                [disabled]="!transferForm.valid" *ngIf="qrSrv.currentAction=='read'" (click)="transference()">
                transferir
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-row *ngIf="!showQr">
  </ion-row>
  <ion-card *ngIf="showQr">
    <qrcode [qrdata]="qrCode" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="img"></qrcode>
  </ion-card>
</ion-content>