ion-card{
    margin-top: 10% !important;
}

ion-list{
    width: 100%;
}

.showCam {
    --background: var(--ion-background-color, transparent);
}

#options-content{
    margin-top: 10px;
}

.options-buttons{
    width: 100%;
}