<ion-content>
  <ion-img src="assets/images/logo.png"></ion-img>
  <ion-card #cardLogin class="ion-margin-top">
    <ion-card-header><ion-title>Iniciar sesión</ion-title></ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (submit)="login()" novalidate #FormLogin="ngForm">
        <ion-grid>
          <ion-row>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Usuario</ion-label>
                <ion-input formControlName="username" type="text"></ion-input>
              </ion-item>
              <ion-item *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.dirty">
                <ion-text color="danger" class="error-message">
                  <h4>El usuario debe tener de 8 a 12 caracteres.</h4>
                </ion-text>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-label position="stacked">Clave</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
              </ion-item>
              <ion-item class="error-message"
                *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
                <ion-text color="danger" class="error-message">
                  <p>La clave debe tener al menos 8 dígitos.</p>
                </ion-text>
              </ion-item>
            </ion-list>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="ion-float-right ion-margin-top" size="small" type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>