ion-card{
 //   margin-top: 10% !important;
}

ion-list{
    width: 100%;
}

ion-content{
 //  --background: var(--ion-color-dark);
    // /* filter: blur(8px); */
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

// ion-list{
//     background: transparent;
// }

// ion-item{
//     --background: transparent;
//     --color: white;
// }

// ion-title{
//     --color: white;
// }