<app-header *ngIf="user" [title]="getTitle()"></app-header>
<ion-content>
    <ion-grid *ngIf="accounts">
        <ion-row *ngFor="let item of accounts">
            <ion-card>
                <ion-card-header>
                    <h4>{{item.typeAccount.name}}</h4>
                    Alias: {{item.alias}}<br>
                    Nº: {{item.number}}
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <p>Saldo: {{item.balance | currency}} - {{item.typeAccount.currency}}</p>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>