<ion-app>
  <ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay" [disabled] = "!authService.logged">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-label>
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons class="ion-padding-start">
          <ion-button (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            salir
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>
