<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>{{currentWeather.name}}</ion-card-title>
    <ion-card-subtitle>{{currentWeather.weather[0].description}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <h1 id="temp">{{currentWeather.main.temp}}ºC</h1>
        </ion-col>
        <ion-col size="3">
          <img [src]="getIcon(currentWeather.weather[0].icon)" height="50" width="50">
        </ion-col>
      </ion-row>
      <ion-row>
        <p>viento: a {{currentWeather.wind.speed}} mps</p>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>