<app-header title="Clima de hoy"></app-header>
<ion-content>
  <app-weather-widget *ngIf="currentWeatherData" [currentWeather]="currentWeatherData"></app-weather-widget>
  <ion-item>
    <ion-text color="danger">
      <p *ngIf="error">Error: No se ha podido obtener información del clima.</p>
    </ion-text>
  </ion-item>
</ion-content>