<app-header title="Transferencias"></app-header>
<ion-content>
  <ion-grid id="options-content" *ngIf="!selection">
    <ion-row>
      <ion-button expand="block" class="options-buttons" (click)="generateQR()">Generar código QR</ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="block" class="options-buttons" (click)="readQR()">Transferir usando imágen</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>